################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
__pycache__
.git
.vs
META-INF
output
rom
Imgextractor.exe
build
dist
main.spec
testcode.py
